@media (max-width:2560px) {
    
}
@media(max-width:1499px){
    
}
@media (max-width:1199px) {
    
}
@media (max-width:991px) {
    .nav-links{
        display: none;
    }
    
}
@media (max-width:767px) {
    
}
@media (max-width:576px) {
    
}
@media (max-width:480px) {
    
}
@media (max-width:425px) {
    
}
@media (max-width:375px) {
    
}
@media (max-width:325px) {
    
}