@media (max-width:2560px) {}

@media(max-width:1499px) {}

@media (max-width:1199px) {}

@media (max-width:991px) {

    .navbar {
        padding: 10px 25px;
    }

    .nav-links {
        display: none;
    }

    .nav-icon {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .mobile-btn {
        display: block;
    }

    .Header-image-main {
        display: flex;
        flex-direction: column;
    }

    .interface-user {
        width: 80%;
        text-align: center;
    }

    /* skill section */

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .left {
        order: 2;
        width: 80%;
    }

    .left p {
        font-size: 1.25rem;
    }

    .right {
        order: 1;
        width: 80%;
    }


    /* card section */

    .service-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .service-box {
        width: 100%;
        margin: 0;
        justify-items: center;
    }

    .service-box p {
        width: 80%;
    }

    .latest-project .container {
        justify-content: center;
        width: 80%;
    }

    .web-section {
        width: 80%;
        flex-direction: column;
    }

    .web-text {
        width: 100%;
    }

    /* mobile container */

    .mobile-section {
        width: 80%;
    }

    .mobile-container {
        flex-direction: column-reverse;
        padding: 0;
    }

    .mobile-content {
        width: 100%;
    }

    .missio-theme {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .box {
        width: 80%;
    }

    .message-section {
        width: 80%;
        margin: auto;
    }

    .message-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .message-text {
        width: 100%;
    }

    form{
        width: 100%;
    }
}

@media (max-width:767px) {}

@media (max-width:576px) {}

@media (max-width:480px) {}

@media (max-width:425px) {}

@media (max-width:375px) {}

@media (max-width:325px) {}